<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <title>Rhino Repo</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg justify-content-between">
      <a class="navbar-brand" href="#">
        <img class="icon" src="../static/images/icon.png">
        Rhino-Repo
      </a>
      <a href="https://github.com/">
          <img class="icon" src="../static/images/github.png">
      </a>

      </nav>
    </header>
        <div class="jumbotron">
                <h1 class="display-4 welcome">Welcome!</h1>
                <p class="lead welcome_sub">Generate your project repository and readme onto github in seconds!</p>

                <a class="start btn btn-warning btn-lg" href="#" role="button">Get Started</a>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
