.jumbotron {
    background-image: url("../images/rhinosmall.png");
    background-size: cover;
    height: 120vh;
    border-radius: 0px;

}

.navbar {
    background-color: black;
}

.navbar-brand {
    color: orange;
    font-size: 25px;
    font-weight: 200;
}

.navbar-brand:hover{
    color: orange;

}

.icon {
    height:40px;
    position: relative;
    bottom: 3px;
    padding-right: 10px;
}


.gh_b {
    float: right;
}

.cred_title {
    font-weight: 200;
    position: relative;
    bottom: 30px;
    padding-bottom: 10px;
    border-bottom: black solid 1px;
}

form{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 200;
    font-size: 20px;
}
label{
    margin-right: 10px;
    margin-bottom: 10px;
}

#api_id {
    position: relative;
    bottom: 40px;
}

.hbnb_id {
    margin-left: 46px;
}

#hb_id {
    width: 368px;
}

#hb_pwd {
    width: 368px;
}
.hbnb_api {
    margin-left: 35px;
}

.hbnb_pwd {
    margin-bottom: 30px;
}
.git_pwd {
    margin-left: 10px;
}

#hb_proj {
    position: relative;
    bottom: 10px;
    width: 368px;
}

#g_pwd {
    width: 368px;
}
.submit{
    float: right;
    position: relative;
    bottom: 90px;
    margin-right: 30px;
    background-color:black;
    border: none;
    color: orange;
    font-weight: 200;
    width: 200px;

}

.submit:hover {
    background-color:white;
    color: #FF8000;
}